.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    .form-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .input {
            width: 300px;
            padding: 10px 10px;
            border-radius: 3px;
            border: none;
            margin: 8px 0;
            box-shadow: 2px 2px 5px #9b9b9b;
        }
        .input:focus {
            outline: none;
            border: 1px solid $black;
        }
        #message {
            font-family: 'Roboto', sans-serif;
        }
        
    }
    .button {
        padding: 10px 20px;
        border-radius: 3px;
        font-size: 1.2rem;
        cursor: pointer;
        color: $color-2;
        background-color: $white;
        border: 2px solid $color-2;
        transition: all 0.5s ease;
        margin: 35px 0 10px;
    }
    .button:hover {
        color: $white;
        background-color: $color-2;
    }
    .form-message {
        display: none;
        background-color: rgb(177, 76, 76);
        color: $white;
        margin: 10px;
        padding: 5px 10px;
        border-radius: 3px;
    }
}
@keyframes squeeze {
    0% {transform: translateX(0px);}
    20% {transform: translateX(-10px);}
    40% {transform: translateX(10px);}
    60% {transform: translateX(-10px);}
    80% {transform: translateX(10px);}
    100% {transform: translateX(0px);}
}