h1 {
    color:$white;
    font-size: 100px;
    margin: 120px 0 0 50px;
    span {
        color: $white;
    }
}
.home-container {
    margin: 50px auto;
    background-color: $white;
    opacity: 0.95;
    width: 80%;
    max-width: 1200px;
    padding: 50px;
    border-radius: 10px;
        .picture {
            width: 180px;
            height: 180px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 50%;
            shape-outside: circle();
            margin: 10px;
            box-shadow: 0 2px 15px $black;
        }
        .profile {
            float: left;
            background-image: url("../../assets/MyPic.jpg");
        }
        .toulouse {
            float: right;
            background-image: url("../../assets/toulouse.jpg");
        }
        .code {
            float: left;
            background-image: url("../../assets/img-code.jpg");
        }
        p {
            font-size: 1.6rem;
            margin: 50px 0;
        }
         
}

@keyframes spin {
    from {
        transform: rotateX(0deg) rotateY(0deg);
    }
    to {
        transform: rotateX(-720deg) rotateY(360deg);
    }
}

@media screen and (max-width:1350px) {
    h1 {
        text-align: center;
        margin: 120px auto 0;
        font-size: 80px;
    }
    .home-container {
        margin: 10px auto;
    }
}
@media screen and (max-width:600px) {
    h1 {
        font-size: 50px;
        margin-top: 80px;
    }
    .home-container {
        width: 100%;
            .picture {
                width: 150px;
                height: 150px;
            }
            p {
                font-size: 1.3rem;
            }
        
    }
}