.knowledges-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: $white;
    opacity: 0.95;
    width: 80%;
    max-width: 1200px;
    padding: 50px;
    border-radius: 10px;
    font-size: 1.2rem;
    .competences {
        display: flex;
        flex-direction: column;
        margin: 10px;
        h2 {
            margin-bottom: 20px;
        }
        .progress-bar {
            height: 12px;
            width: 200px;
            background-color: rgb(189, 189, 189);
            border-radius: 5px;
            margin: 5px 0;
            overflow: hidden;
        }
        .progress1 {
            height: 100%;
            width: 70%;
            background-color: $color-1;
        } 
        .progress2 {
            height: 100%;
            width: 45%;
            background-color: $color-1;
        } 
        .progress3 {
            height: 100%;
            width: 15%;
            background-color: $color-1;
        } 
    }
    .langages {
        display: flex;
        flex-direction: column;
        margin: 10px;
        h2 {
            margin-bottom: 20px;
            span {
                font-size: 12px;
            }
        }
        div {
            display: flex;
            flex-wrap: wrap;
            span {
                margin: 5px;
                padding: 5px;
                background-color: $color-1;
                border-radius: 5px;
                color: $white;
            }
        }
        
    }
    
    .atouts {
        display: flex;
        flex-direction: column;
        margin: 10px;
        h2 {
            margin-bottom: 20px;
        }
        span {
            margin: 5px 0;
        }
        i {
            font-size: 1.5rem;
            color: $color-2;
        }

    }

    .langues {
        display: flex;
        flex-direction: column;
        margin: 10px;
        h2 {
            margin-bottom: 20px;
        }
        span {
            margin: 5px 0;
        }
        div i {
            margin: 0 3px;
            color: rgb(189, 189, 189);;
        }
        div .full {
            color: $color-2;
        }
        .level {
            color: #3f3f3f;
            font-size: 0.9rem;
        }
    }
    
}