@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;400;900&family=Satisfy&display=swap');

$font: 'Roboto', sans-serif;

$white: #dfdfdf;
$black: #231123;
$black2: #231123;
//$color-1: #258f5a;
$color-1: #93748A;
$color-2: #0C6492;
$color-3: #1497DE;

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    height: 100vh;
    background: url(../assets/bgparticules.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: $font;
    background-color: $black2;
}
button {
    cursor: pointer;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: $black;
}
.home, .knowledges, .portfolio, .contact {
    display: flex;
    flex-direction: column;
}