@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;400;900&family=Satisfy&display=swap');

$font: 'Roboto', sans-serif;

$white: #dfdfdf;
$black: #020c36;
$black2: #280652;
//$color-1: #258f5a;
$color-1: #dd3859;
$color-2: #6428c4;

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    height: 100vh;
    background: url(../assets/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: $font;
    background-color: $black2;
}
button {
    cursor: pointer;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: $black;
}
.home, .knowledges, .portfolio, .contact {
    display: flex;
    flex-direction: column;
}